* {
  margin: auto auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: Roboto, sans-serif;
  
}


.page-container {
  max-width: 45vh;
  width: 100%;
  position: relative;
}

